name: CI Pipeline

on:
  push:
    branches: [ "main" ]
  workflow_dispatch: 

jobs:
  ci:
    runs-on: ubuntu-latest

    steps: 
      - name: checkout code
        uses: actions/checkout@v4

      - name: setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: "23"

      - name: install dependencies
        run: npm ci

      - name: Run lint
        run: npm run lint

      - name: Initialize CodeQL
        uses: github/codeql-action/init@v3
        with:
          languages: javascript
      
      - name: Analyze CodeQL
        uses: github/codeql-action/analyze@v3

      - name: run tests
        run: npm test

      - name: Dependency vulnerability scan
        run: npm audit --audit-level=high


